@import "@/styles/colors.scss";

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: map-get($map: $schema, $key: primary);
}
